.search-field {
  width: 77%;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
ol {
  list-style-type: none;
}

#search {
  margin-top: 1.25rem;
}

#search input,
#search button {
  display: inline-block;
}
.parentcard {
  color: white;
  background: teal;
}
button {
  background: slateblue;
  color: white;
  border-radius: 4px;
  border: black;
}

#search input {
  width: 77%;
}
.card-header {
  background: white;
  color: black;
}
#search button {
  width: 13%;
  margin: 0 !important;
}

.answercard {
  background-color: white;
  color: black;
}

.editbutton {
  background-color: goldenrod;
  width: 5%;
  float: right;
}

.deletebutton {
  background-color: goldenrod;
  width: 5%;
  float: right;
}

#noSearchItems {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.card {
  width: 100%;
}

button {
  font-size: 2vw;
  font-size: 2vh;
  white-space: normal;
}
